<div class="container-fluid container-fluid-custom">
    <h1 class="text-center w-60">About Notes App!</h1>
    <p class="text-center w-40%" >Welcome to your digital Notes-App – a simple, smart, and secure place to capture your <br> thoughts, ideas, and to-do lists anytime, anywhere. <br><br>

        Our Notes App is designed to help you stay organized and productive. Whether you're jotting down a quick reminder, brainstorming creative ideas, or keeping track of daily tasks, our app provides a seamless and clutter-free experience.</p>
</div>